@model Sprint.Models.Address

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MailingStreet" class="control-label"></label>
                <input asp-for="MailingStreet" class="form-control" />
                <span asp-validation-for="MailingStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailingCity" class="control-label"></label>
                <input asp-for="MailingCity" class="form-control" />
                <span asp-validation-for="MailingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailingProvince" class="control-label"></label>
                <input asp-for="MailingProvince" class="form-control" />
                <span asp-validation-for="MailingProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailingPostal" class="control-label"></label>
                <input asp-for="MailingPostal" class="form-control" />
                <span asp-validation-for="MailingPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingStreet" class="control-label"></label>
                <input asp-for="ShippingStreet" class="form-control" />
                <span asp-validation-for="ShippingStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCity" class="control-label"></label>
                <input asp-for="ShippingCity" class="form-control" />
                <span asp-validation-for="ShippingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingProvince" class="control-label"></label>
                <input asp-for="ShippingProvince" class="form-control" />
                <span asp-validation-for="ShippingProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPostal" class="control-label"></label>
                <input asp-for="ShippingPostal" class="form-control" />
                <span asp-validation-for="ShippingPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
