@{
    ViewData["Title"] = $"Checkout Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <div class="col-md">
            <h4 class="text-light font-weight-light text-uppercase">
                <i class="fa fa-check-square text-secondary pr-2" aria-hidden="true"></i>Checkout Successful
            </h4>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xl-9">
            <div class="row rounded moist-bg-light moist-shadow pt-3 pb-3">
                TODO: display confirmation and download games
            </div>
        </div>
    </div>
</div>
